<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="bef94708-7655-49c2-b440-1bc7a9e25c02"
            Publisher="CN=ShanYe"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>SYEngine Runtime 8.1</DisplayName>
    <PublisherDisplayName>ShanYe</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="SYEngineRuntime.Windows.App">
        <m2:VisualElements
            DisplayName="SYEngine Runtime 8.1"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="SYEngineRuntime.Windows"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>CoreMFSource.dll</Path>
        <ActivatableClass ActivatableClassId="CoreMFSource.HDCoreByteStreamHandler" ThreadingModel="both"/>
      </InProcessServer>
    </Extension>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>MultipartStreamMatroska.dll</Path>
        <ActivatableClass ActivatableClassId="MultipartStreamMatroska.UrlHandler" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>